<header class="header">
  <div class="logo-name-container">
    <div class="logo-square">
      <img src="logo.png" class="logo" />
    </div>
    <span class="name">Daniel Gómez</span>
  </div>

  <nav class="nav-links" [class.open]="menuOpen">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#blog">Blog</a>
    <a href="#contact">Contact</a>
  </nav>

  <button class="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
