<section class="home" id="home">

  <!-- main content -->
  <div class="home-content">

    <!-- text section -->
    <div class="text reveal-group">
      <h1 class="reveal">
        {{ 'HOME.NAME' | translate }}<br />
        {{ 'HOME.LAST_NAME' | translate }}
      </h1>

      <h2 class="reveal">
        {{ 'HOME.ROLE' | translate }}
      </h2>

      <p class="reveal">
        {{ 'HOME.DESCRIPTION_1' | translate }}
      </p>

      <!-- action buttons -->
      <div class="buttons reveal">
        <button class="primary" (click)="scrollTo('about')">
          {{ 'HOME.BTN_MORE_ABOUT' | translate }}
        </button>

        <button class="secondary" (click)="scrollTo('contact')">
          {{ 'HOME.BTN_CONTACT' | translate }}
        </button>
      </div>
    </div>

    <!-- profile section -->
    <div class="profile reveal-group">

      <div class="image-wrapper reveal">
        <img src="yo.png" alt="Daniel Gómez" />
      </div>

      <div class="badge">
        <!-- Icono de tiro al blanco a la izquierda -->
        <img src="banner.png" alt="Icono" class="badge-icon" />
        
        <!-- Contenedor para las dos líneas de texto a la derecha -->
        <div class="badge-text">
          <span class="badge-title">Python developer</span>
          <span class="badge-subtitle">Coursera</span>
        </div>
      </div>
      
    </div>
  </div>

  <!-- tech stack section -->
  <div class="stack reveal">
    <div class="stack-track">

      @for (t of techs; track t.name) {
        <div class="stack-item">
          <img [src]="t.icon" [alt]="t.name" loading="lazy" />
          <span>{{ t.name }}</span>
        </div>
      }

      @for (t of techs; track t.name + '-dup') {
        <div class="stack-item">
          <img [src]="t.icon" [alt]="t.name" loading="lazy" />
          <span>{{ t.name }}</span>
        </div>
      }

    </div>
  </div>

</section>