<section class="projects" id="projects">
  <div class="projects-container reveal">

    <div class="projects-header reveal">
      <h2>{{ 'PROJECTS.TITLE' | translate }}</h2>
      <p>{{ 'PROJECTS.SUBTITLE' | translate }}</p>
    </div>

    <div class="projects-grid">
      @for (p of projects; track p.title) {

        <article class="project-card reveal">

          <!-- top image -->
          <div class="project-image">
            <img [src]="p.image" [alt]="p.title" loading="lazy" />
          </div>

          <div class="project-body">

            <!-- title + technology -->
            <div class="project-top">
              <h3>{{ p.title }}</h3>

              @if (p.tech) {
                <span class="project-tag">
                  @if (p.techIcon) {
                    <img class="tag-icon" [src]="p.techIcon" [alt]="p.tech" />
                  }
                  {{ p.tech }}
                </span>
              }
            </div>

            <!-- description -->
            <p class="project-desc">
              {{ p.descriptionKey | translate }}
            </p>

            <!-- buttons -->
            <div class="project-actions">

              <!-- github -->
              @if (p.github) {
                <a
                  class="btn btn-ghost btn-github"
                  [href]="p.github"
                  target="_blank"
                  rel="noopener noreferrer">

                  <img src="githubwhite.png"
                      alt="GitHub"
                      class="btn-icon" />
                  {{ 'PROJECTS.BTN_GITHUB' | translate }}
                </a>
              }


              <!-- web -->
              @if (p.web) {
                <a
                  class="btn btn-primary"
                  [href]="p.web"
                  target="_blank"
                  rel="noopener noreferrer">

                  <img src="web.png"
                    alt="Web"
                    class="btn-icon" />
                  {{ 'PROJECTS.BTN_WEB' | translate }}
                </a>
              }

            </div>
          </div>

        </article>

      }
    </div>

  </div>
</section>
